:root {
  //COLOR
  --color-primary: hsl(75, 94%, 57%); //GREEN
  --color-white: hsl(0, 0%, 100%); //WHITE
  --color-grey: hsl(0, 0%, 20%); //GREY
  --color-dark-grey: hsl(0, 0%, 12%); //DARK GREY
  --color-off-black: hsl(0, 0%, 8%); //OFF BLACK

  //FONTS
  --font-primary: "Inter", sans-serif;
}
