body {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
}

.heading-primary {
  font-size: 2.6rem;
  font-weight: 400;
  padding: 0.3rem;
}

.heading-secondary {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.paragraph {
  opacity: 0.6;
  font-size: 1.4rem;
  padding: 2.3rem;
}
